.header-wrapper {
  position: relative;

  &__bg {
    &_blue {
      background-color: #007aff;
      height: 7.4rem;
    }

    &_white {
      height: 3.2rem;
      background-color: #fff;
    }
  }

}
